body{
    background: url(../imagen/fondo.jpg) no-repeat center center fixed;
    background-size: cover;

}
/* Diseño de la caja del login*/
.modal-content{ 
    opacity: .85;
}
.main-section{
    margin:0 auto;
    margin-top:30%;
    padding: 0;
}
/* Para correr un poco los input y se diseña*/
.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}
.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}
.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

.form-group#name-group::before{
    content: "\f007";
}

.form-group#lastname-group::before{
    content: "\f007";
}